<launch>
    <arg name="output" default="screen"/>
    <arg name="mob_plat_publish_tf" default="true"/>
    <!--env name="ROSCONSOLE_CONFIG_FILE" value="$(find mars_lite_bringup)/config/diagnostic_rosconsole.config"/-->

    <!-- Techman robot -->
    <include file="$(find mars_lite_bringup)/launch/includes/tm700_bringup.launch" >
        <arg name="prefix" default="tm_"/>
        <arg name="robot_ip" value="195.168.0.5"/>
        <arg name="limited" default="false"/>
        <arg name="servo_time" default="0.001"/>
        <arg name="min_payload" default="0.0"/>
        <arg name="max_payload" default="5.0"/>
        <arg name="output" value="$(arg output)"/>
    </include>

    <!-- mars lite robot model -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find tm_description)/urdf/tm700_robot.urdf.xacro'"/>

    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
           <param name="publish_frequency" type="double" value="50.0" />
           <param name="tf_prefix" type="string" value="" />
    </node> 

    <!-- Joint state publisher -->
    <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" respawn="false" output="screen"/>
    
</launch>
